#app {
  font-family: 'Itim', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background:#F3F3F3;
  padding:150px 25px;

  .todo {
    max-width:1120px;
    width:100%;
    margin:0 auto;

    &_whole {
      max-width:768px;
      margin: 0 auto;
    }
  }
}